/* Global*/
* {
    margin: 0;
    padding: 0;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

.bottom-text {
    margin-bottom: 15%;
}


.main-nav {
    list-style: none;
    float: right;
}

.main-nav li {
    display: inline-block;
    margin-left: 20px;
}

.main-nav li a {
    text-decoration: none;
    color: black;
}

.development-process {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),url("../img/laptop.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    
    
}

.development-process h1 {
    color: #ffffff;
    margin-top: 15%;
    
}

.development-process p {
    color: #ffffff;
    font-size: 20px;
    line-height: 40px;
}

.front-end {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.08)),url("../img/lights.jpg");
    background-position: center;
    background-size: cover;
    
}

.front-end h1 {
    color: #ffffff;
    margin-top: 15%;
}

.front-end p {
    color: #ffffff;
    font-size: 20px;
    line-height: 40px;
}

.latest-technology {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../img/palmtrees.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.latest-technology h1 {
    color: #ffffff;
    margin-top: 15%;
}

.latest-technology p {
    color: #ffffff;
    line-height: 40px;
    font-size: 20px;
}

.inspiration {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("../img/neon.jpg");
    background-position: center;
    background-size: cover;
    height: 100%;
}

.inspiration h1 {
    color: #ffffff;
    margin-top: 5%;

}

.inspiration h3 {
    color: #ffffff;
    line-height: 40px;
    
}

.inspiration h5 {
    color: #ffffff;
    
}

footer li {
    display: inline-block;
    margin: 10px;
}

footer i {
    color: blue;
}

